In [48]:
# final challenge

# main
# from pyspark import SparkContext
import pandas as pd

# create session
# sc = SparkContext()
# spark = SparkSession(sc)
# sc

# Final Challenge

In [14]:
center_dir = '~./nyc_cscl.csv'

In [4]:
# import pandas as pd

df2 = pd.read_csv(center_dir)

In [5]:
df2.columns

Index(['L_LOW_HN', 'L_HIGH_HN', 'the_geom', 'PHYSICALID', 'R_LOW_HN',
       'R_HIGH_HN', 'L_ZIP', 'R_ZIP', 'L_BLKFC_ID', 'R_BLKFC_ID', 'ST_LABEL',
       'STATUS', 'BIKE_LANE', 'BOROCODE', 'ST_WIDTH', 'CREATED', 'MODIFIED',
       'TRAFDIR', 'RW_TYPE', 'FRM_LVL_CO', 'TO_LVL_CO', 'SNOW_PRI',
       'PRE_MODIFI', 'PRE_DIRECT', 'PRE_TYPE', 'POST_TYPE', 'POST_DIREC',
       'POST_MODIF', 'FULL_STREE', 'ST_NAME', 'BIKE_TRAFD', 'SHAPE_Leng'],
      dtype='object')

In [6]:
fie_dir2019 = '~./2019.csv'
fie_dir2018 = '~./2018.csv'
fie_dir2017 = '~./2017.csv'
fie_dir2016 = '~./2016.csv'
fie_dir2015 = '~./2015.csv'

files_list = [fie_dir2015, fie_dir2016, fie_dir2017, fie_dir2018, fie_dir2019]

In [7]:
df5 = pd.read_csv(fie_dir2015)
df6 = pd.read_csv(fie_dir2016)
df7 = pd.read_csv(fie_dir2017)
df8 = pd.read_csv(fie_dir2018)
df9 = pd.read_csv(fie_dir2019)

/Users/carlostavarez/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,16,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/carlostavarez/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,34,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/carlostavarez/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/carlostavarez/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,17,18,20,22,23,29,30,31,32,36,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df5.shape[0], df6.shape[0], df7.shape[0], df8.shape[0], df9.shape[0]

(2702215, 10626899, 10803028, 1043627, 1371191)

In [9]:
df5.shape[0] + df6.shape[0] + df7.shape[0] + df8.shape[0] + df9.shape[0]

26546960

In [10]:
df_list = [df5, df6, df7, df8, df9]
years_list = [2015, 2016, 2017, 2018, 2019]

In [11]:
def rough_tickect_count(file_list, year_list):
    
    count = 0
    
    for df, year in zip(file_list, year_list):
        
        df['Issue Date'] = pd.to_datetime(df['Issue Date'].values, format='%m/%d/%Y')
        df['Year'] = pd.to_datetime(df['Issue Date'].values, format='%m/%d/%Y').year
    
        count += df[df['Year'] == year].shape[0]
        
    print("Rought Estimate {}".format(count))

In [12]:
rough_tickect_count(df_list, years_list)

Rought Estimate 12754200

The total when all files are concatenated are approximately 26.5 millions. When we check the rows that belongs to the given year, the number of rows is reduced to 12.7 millions. Note, we do not know if each row has a proper house number, street name, or summos number.

# After Script was run in Dumbo Cluster

In [43]:
df_count = pd.read_csv('nyc_tickets_count.csv', header=None)

In [44]:
df_count.head()

    0  1  2  3  4  5  6
0   3  4  4  2  2  2 -1
1   5  5  4  5  4  4 -1
2   6  5  3  5  8  3 -1
3  23  2  1  2  3  3  0
4  24  4  2  4  3  5  0

In [45]:
df_count.tail()

            0    1    2    3    4    5  6
72874  188289  373  373  353  377  379  1
72875  188291    6   21   21    7   10  1
72876  188296    3    1    2    1    3  0
72877  188299   15   15   13   23   24  2
72878  188300    5    6    5    8    5  0

In [46]:
df_count.iloc[:, 1:6].sum()

1    1897688
2    1777453
3    1902916
4    1913792
5    1845975
dtype: int64

In [47]:
df_count.iloc[:, 1:6].sum().sum()

9337824