In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [3]:
df.head()

    0    1    2    3    4    5   6
0   3   98   79  132  136  120   5
1   5  254  178  272  290  294  10
2   6  252  190  224  263  206 -12
3  23    3    3   19    7   32   7
4  24   26   25   37   76   75  12

In [4]:
df.iloc[:, 1:6].sum()

1    32600109
2    28383264
3    30237646
4    33104515
5    29903327
dtype: int64

In [5]:
df.iloc[:, 1:6].sum().sum()

154228861