In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [26]:
df.head()

    0    1    2    3    4    5   6
0   3   70   60   83  101   87   4
1   5  183  145  213  239  235  13
2   6  245  150  174  194  168 -20
3  23    2    3   22    7   41   9
4  24   22   31   69  127  101  19

In [27]:
df.iloc[:, 1:6].sum()

1    22075230
2    18948335
3    20351855
4    22896046
5    20229207
dtype: int64

In [28]:
df.iloc[:, 1:6].sum().sum()

104500673

In [6]:
df.shape

(15649, 7)

In [7]:
from datetime import datetime

In [ ]:
''

In [19]:
date = datetime.strptime('02/20/2020', '%m/%d/%Y')

In [23]:
str(date)

'2020-02-20 00:00:00'