In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [3]:
df.head()

    0  1  2  3  4  5  6
0   3  0  1  0  0  0  0
1   6  0  0  0  1  0  0
2  46  0  0  1  0  0  0
3  49  1  1  1  0  0 -1
4  50  1  1  1  1  0 -1

In [4]:
df.iloc[:, 1:6].sum()

1    9212
2    8053
3    7672
4    4745
5    4495
dtype: int64

In [5]:
df.iloc[:, 1:6].sum().sum()

34177

In [6]:
df.shape

(15649, 7)

In [7]:
from datetime import datetime

In [ ]:
''

In [19]:
date = datetime.strptime('02/20/2020', '%m/%d/%Y')

In [23]:
str(date)

'2020-02-20 00:00:00'