In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [3]:
df.head()

    0  1  2  3  4  5  6
0   3  1  1  1  1  1  0
1   5  1  1  1  1  1  0
2   6  1  1  1  1  1  0
3  23  1  1  1  1  1  0
4  24  1  1  1  1  1  0

In [4]:
df.iloc[:, 1:6].sum()

1    63018
2    61691
3    63963
4    64436
5    63985
dtype: int64

In [5]:
df.iloc[:, 1:6].sum().sum()

317093

In [6]:
df.shape

(72879, 7)

In [10]:
date = datetime.strptime('02/20/2020', '%m/%d/%Y')

In [11]:
len(str(date))

19