In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [3]:
df.head()

    0    1    2    3    4    5   6
0   3   70   60   83  101   87   4
1   5  185  145  213  239  235  12
2   6  245  150  174  194  168 -20
3  23    2    3   22    7   41   9
4  24   22   31   69  127  101  19

In [4]:
df.iloc[:, 1:6].sum()

1    22627341
2    19444155
3    20941108
4    23536498
5    20785009
dtype: int64

In [5]:
df.iloc[:, 1:6].sum().sum()

107334111

In [6]:
df.shape

(72874, 7)

In [10]:
date = datetime.strptime('02/20/2020', '%m/%d/%Y')

In [11]:
len(str(date))

19