In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [3]:
df.head()

    0  1  2   3  4  5  6
0   3  0  1   0  0  0  0
1   6  0  0   0  1  0  0
2  46  0  0   1  0  0  0
3  49  2  4   1  0  0 -1
4  50  7  5  13  4  0 -2

In [4]:
df.iloc[:, 1:6].sum()

1    2202722
2    2030210
3    2174423
4    2352254
5    1992961
dtype: int64

In [5]:
df.iloc[:, 1:6].sum().sum()

10752570

In [6]:
df.shape

(15652, 7)

In [8]:
from datetime import datetime

In [9]:
''

''

In [19]:
date = datetime.strptime('02/20/2020', '%m/%d/%Y')

In [7]:
len(str(date))

NameError: name 'date' is not defined