In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [9]:
df.head()

    0  1  2   3  4  5  6
0   3  0  1   0  0  0  0
1   6  0  0   0  1  0  0
2  46  0  0   1  0  0  0
3  49  2  4   1  0  0 -1
4  50  7  5  13  4  0 -2

In [10]:
df.iloc[:, 1:6].sum()

1    2221941
2    2041772
3    2194856
4    2371447
5    2008607
dtype: int64

In [11]:
df.iloc[:, 1:6].sum().sum()

10838623

In [6]:
df.shape

(15652, 7)