In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('nyc_tickets_count.csv', header=None)

In [4]:
df.head()

    0    1    2    3    4    5   6
0   3  140  119  166  202  174   8
1   5  366  290  426  478  470  26
2   6  490  300  348  387  336 -39
3  23    3    3   24    9   43  10
4  24   29   31   70  128  101  18

In [8]:
df.iloc[:, 1:6].sum()

1    43833072
2    37416403
3    40155393
4    44908762
5    39951282
dtype: int64

In [9]:
df.iloc[:, 1:6].sum().sum()

206264912